<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" href="css/style.css">
        <title>Project Three: Node Authentication</title>
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/list" class="btn btn-default btn-sm">To Do List</a>
        </div>

        <div class="row">

            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3>
                        <span class="fa fa-user"></span> Local</h3>

                    <% if (user.local.email) {  %>
                        <p>
                            <strong>id</strong>:
                            <%= user._id %>
                                <br>
                                <strong>email</strong>:
                                <%= user.local.email %>
                                    <br>
                                    <strong>password</strong>:
                                    <%= user.local.password %>
                        </p>
                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                        <% } else { %>
                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                            <% } %>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-primary">
                        <span class="fa fa-facebook"></span> Facebook</h3>
                    <% if (user.facebook.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.facebook.id %>
                                <br>
                                <strong>token</strong>:
                                <%= user.facebook.token %>
                                    <br>
                                    <strong>email</strong>:
                                    <%= user.facebook.email %>
                                        <br>
                                        <strong>name</strong>:
                                        <%= user.facebook.name %>
                        </p>
                        <a href="/unlink/facebook" class="btn btn-success">Unlink</a>
                        <% } else { %>
                            <a href="/connect/facebook" class="btn btn-success">Connect Facebook</a>
                            <% } %>
                </div>
            </div>   

            <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-primary">
                            <span class="fa fa-sticky-note"></span> Evernote</h3>
                        <% if (user.evernote.token) { %>
                            <p>
                                <strong>id</strong>:
                                <%= user.evernote.id %>
                                    <br>
                                    <strong>token</strong>:
                                    <%= user.evernote.token %>
                                        <br>
                                        <strong>email</strong>:
                                        <%= user.evernote.email %>
                                            <br>
                                            <strong>name</strong>:
                                            <%= user.evernote.name %>
                            </p>
                            <a href="/unlink/evernote" class="btn btn-primary">Unlink</a>
                            <% } else { %>
                                <a href="/connect/evernote" class="btn btn-primary">Connect Evernote</a>
                                <% } %>
                    </div>
                </div>   
        </div>
</body>


</html>